model:
    model_name: AE
    lr: 1.0e-4
    encoder:
        in_channels: 1
        latent_channels: 4
        width_list: [64, 128, 256, 256] # 8x downsample
        block_type: ["ResBlock", "ResBlock", "ResBlock", "ResBlock"]
        depth_list: [3, 3, 3, 3]
    decoder:
        in_channels: 1
        latent_channels: 4
        width_list: [64, 128, 256, 256] # 8x downsample
        block_type: ["ResBlock", "ResBlock", "ResBlock", "ResBlock"]
        depth_list: [3, 3, 3, 3]

data:
    dataset:
        train_path: /path/to/data/apebench/KolmFlow_train_1024.h5
        valid_path: /path/to/data/apebench/KolmFlow_valid_256.h5
        resolution: [100, 160, 160]
    normalizer:
        stat_path: /path/to/data/apebench/KolmFlow_train_norm_stats.pkl
    pde: km_flow
    num_workers: 8
    batch_size: 32
    ae: True

training:
    seed: 42
    devices: [0]
    accelerator: gpu
    strategy: auto
    check_val_every_n_epoch: 10
    log_every_n_steps: 10
    max_epochs: 250
    log_dir: logs/
    project: stochastic_interpolants
    wandb_mode: online
    checkpoint: null